.map svg {
  display: block;
  height: max-content;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 0;
  overflow: visible;
  animation: fade-in-opacity 0.5s ease-in-out;

  path {
    stroke: #fff;
    stroke-width: 5px;
    transition: 0.2s;
    transform-origin: center center;

    &.no-data {
      fill: #eee !important;
    }
    &:hover {
      cursor: pointer;
      filter: drop-shadow(0 0 5px #666);
    }
  }

  text {
    text-anchor: middle;
  }

  text,
  use {
    pointer-events: none;
  }
}
