.widget-block {
  position: relative;
  width: 100%;
  padding: var(--pd);
  border: 1px solid #ddd;
  border-radius: 10px;
  // box-shadow: 0 0 10px #aaa;
  background-color: white;

  .widget-title {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-bottom: var(--pd);
    padding-bottom: var(--pd);
    border-bottom: 1px solid #eee;

    .icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 24px;
      height: 24px;
      font-size: 24px;
    }
    .icon:empty {
      background-color: red;
    }

    .text {
      font-size: 20px;
    }
  }

  .widget-content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--pd);
  }
}

@media (max-width: 767px) {
  .widget-block {
    .widget-title {
      .icon {
        width: 20px;
        height: 20px;
        font-size: 20px;
      }
      .text {
        font-size: 16px;
      }
    }
    .widget-content {
      align-items: center;
      flex-direction: column;
    }
  }
}
