.popup-region-info {
  position: fixed;
  background-color: white;
  pointer-events: none;
  width: max-content;
  padding: 10px;
  border: 1px solid #666;
  border-radius: 10px;
  // box-shadow: 0 0 5px #666;
  z-index: 1000;
  animation: fade-in-opacity 0.2s ease-in-out;

  .region-name {
    margin-bottom: 5px;
  }

  .average-river-level-ratio {
    margin-bottom: 10px;
  }

  .region-river-data-content {
    font-size: 12px;
    padding-left: 5px;

    div {
      display: inline-block;
    }

    .title {
      margin-right: 5px;
    }
  }

  .region-river-data {
    padding: 5px;
    border-bottom: 1px solid #ccc;

    &:last-child {
      border-bottom: none;
    }

    .region-river-name {
      font-size: 14px;
    }
    .region-river-current-level {
    }
    .region-river-planflood-level {
    }
    .region-river-level-ratio {
    }
  }
}

@media (max-width: 767px) {
  .popup-region-info {
    left: auto !important;
    top: auto !important;
    right: 10px !important;
    bottom: 10px !important;
    transform: translate(0, 0) !important;
  }
}
