@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * {
  font-family: "Noto Sans KR", sans-serif;
}

:root {
  --pd: 20px;
}

* {
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}

html,
body {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
